:root {
    --background:rgba(13,110,139,0.35) ;
    --overlay:rgba(24,39,51,0.85);
}
*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header {
    background-color: var(--background);
    color: white;
    height:100vh;
    position: relative;

}
.header:before{
    content: '';
    background: url('./bg.jpeg') no-repeat center/cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.header-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 10px;
}
.header-inner a{
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-top: 50px;
    color: #000;
    text-decoration: none;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
    font-weight: bold;
}
.content{
    display: flex;
    flex-direction: column;

    /* height: 100vh; */
    background: #e2e8f0;
    padding: 30px;
}
.aboutus, .contactme ,.image{
    background: white;
    padding: 20px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
    margin-bottom: 2rem;
}
 .bio {
     margin-top: 10px;
 }
 .slogan {
     margin-top: 20px;
 }
 img{
    height: 350px; border-radius: 5px

 }
 .image{
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .contactme p{
     margin-top: 20px;
 }
@media only screen and (min-width: 1024px){
    .bio {
        margin-top: 10px;
        font-size: 30px;
    }
          
     .content{
        display: flex;
        flex-direction: row;
    }
    .aboutus, .contactme, .image{
        flex: 0.4;
        margin:10px
    }
}